* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #1b1e23;
}
.index {
  text-align: center;
  background-image: url(./images/indexback.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.member {
  background-image: url(./images/memberback.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.memtxt {
  color: #fff;
  text-align: left;
  padding: 10rem;
}
.form {
  width: 500px;
  background: rgba(0, 0, 0, 0.8);
  margin: 5% auto;
  padding: 50px 0;
  color: #fff;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}
h1 {
  text-align: center;
  margin-bottom: 40px;
}
.input-box {
  margin: 31px auto;
  width: 80%;
  border-bottom: 1px solid #fff;
  padding-top: 10px;
  padding-bottom: 5px;
}
.input-box input {
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

::placeholder {
  color: #ccc;
}
.fa {
  margin-right: 10px;
}
.login-btn {
  margin: 40px auto 20px;
  width: 80%;
  display: block;
  outline: none;
  padding: 10px 0;
  border: 1px solid #fff;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 16px;
}

iframe {
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 4px 4px 14px #000;
  overflow: hidden;
}
.topnav {
  overflow: hidden;
  background-color: rgb(39, 37, 35);
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: firebrick;
  color: #f2f2f2;
}
.active {
  background-color: firebrick;
  color: #f2f2f2;
}
.last {
  float: right !important;
}

.squads {
  width: 100%;
  height: auto;
  max-width: 50vw;
}
tr,
h5,
#errorMssg {
  color: white;
}
.recvid {
  background-color: black;
  border: 1px solid white;
  color: white;
  padding: 135px 240px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.column {
  float: left;
  width: 33.3%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}
